<h1 class="mt-3">Tabla de retorno del préstamo</h1>

{{#if interesses}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Periodo</th>
      <th scope="col">Deposito</th>
      <th scope="col">Interés</th>
      <th scope="col">Saldo final</th>
    </tr>
  </thead>
  <tbody>
  {{#each interesses}}
  <tr>
      <th scope="row">{{mes}}</th>
      <th scope="row">{{deposito}}</th>
      <th scope="row">{{interes}}</th>
      <th scope="row">{{capital}}</th>
    </tr>

  {{/each}}

    

  </tbody>
</table>
{{/if}}