<h1 class="mt-3">Examen Primer Parcial</h1>

<form action="/palabra" method="post">
  <div class="form-group">
    <label for="palabra">Examen</label>
    <input type="text" name="palabra" id="palabra" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Calcular</button>
</form>